h2{
    font-size: 25px;
    font-family: sans-serif;
    color: blueviolet;
}
/* .price{
    margin-left: 200px;
    margin-bottom: 25px;
} */

#navbar{
  position: fixed;
}

body{
   overflow: hidden;
}
/* .add{
  margin-left: 25px;
  color: white;
  border: 0 solid;
  background-color: blueviolet;
  border-radius: 7px;
  
 
}


.category1{
  
  margin-top: 80px;
} */